body {
	background-color: #ccf5f5;
}

#gameholder {
	width:600px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	width: 600px;
	height: 150px;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_title.png');
}

.penguin1:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_1_hover.png');
	cursor: pointer;
}

.penguin1:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_1.png')
}

.penguin1 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_1.png');
}

.penguin2:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_2_hover.png');
	cursor: pointer;
}

.penguin2:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_2.png')
}

.penguin2 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_2.png');
}

.penguin3:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_3_hover.png');
	cursor: pointer;
}

.penguin3:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_3.png')
}

.penguin3 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_3.png');
}

.penguin4:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_4_hover.png');
	cursor: pointer;
}

.penguin4:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_4.png')
}

.penguin4 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_4.png');
}

.penguin5:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_5_hover.png');
	cursor: pointer;
}

.penguin5:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_5.png')
}

.penguin5 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_5.png');
}

.penguin6:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_6_hover.png');
	cursor: pointer;
}

.penguin6:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_6.png')
}

.penguin6 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_6.png');
}

.penguin7:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_7_hover.png');
	cursor: pointer;
}

.penguin7:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_7.png')
}

.penguin7 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_7.png');
}

.penguin8:hover {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_8_hover.png');
	cursor: pointer;
}

.penguin8:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/penguin_8.png')
}

.penguin8 {
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_8.png');
}

.yeti:hover{
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_9_hover.png');
	cursor: pointer;
}

.yeti:active {
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/yeti.png')
}

.yeti{
	width: 200px;
	height: 200px;
	float: left;
	background-image:url('C:/Users/277Student/Desktop/Period5/Penguin Code Project/Media/mound_9.png');
}